body {
  margin: 0;
  padding: 0;

  color: var(--main);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  z-index: 999;

  margin: 0;

  color: var(--main);

  font-weight: normal;
  font-family: 'Neucha', sans-serif;

  line-height: 1.2em;
}

p {
  color: var(--dark);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.btn {
  display: block;
  width: fit-content;

  text-transform: uppercase;
}

.btn-main {
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  background: var(--main);
}

.btn-main:hover {
  background: #EA7600;
}

.container {
  position: relative;

  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.background-image::before {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

.flex {
  display: flex;
  justify-content: center;
}

.vertical-align-center {
  align-items: baseline;
}

.flex-basis-0 {
  flex-basis: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.background-dark {
  background: var(--main-dark);
}

.background-white {
  background: var(--white);
}

.background-light {
  background: var(--light);
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}
