/** CSS STYLE **/
@import "variables.css";
@import "fonts.css";
@import "common.css";

/** HEADER SECTION **/
.header-section {
  position: relative;

  overflow: hidden;

  background: #f5f4f0;
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: 888;

  height: 525px;
}

.header-title {
  position: relative;

  margin-bottom: 181px;
}

.header-description a {
  margin-top: 40px;
}
