/** CSS STYLE **/
@import "variables.css";
@import "fonts.css";
@import "common.css";

/** HEADER SECTION **/
.header-section {
  position: relative;

  overflow: hidden;

  background: #f5f4f0;
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: 888;

  height: 525px;
}

.header-title {
  position: relative;

  margin-bottom: 181px;
}

.header-description a {
  margin-top: 40px;
}

/** VIDEO SECTION **/
.video-section {
  z-index: 1;

  margin-bottom: -200px;

  text-align: center;
}

.video {
  border: none;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/** NAV SECTION **/
.nav-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 200px;
}

.card-title {
  width: 350px;
  margin-bottom: 24px;

  font: 52px/1.2em 'Neucha', sans-serif;
}

.card {
  box-sizing: border-box;

  width: 350px;
  margin-bottom: 24px;
  padding: 24px;
}

.card p {
  margin-bottom: 0;
}

.card-num {
  display: block;
  margin-bottom: 40px;

  color: var(--main-dark);
  font: 64px/1em 'Neucha', sans-serif;
}
